@media (min-width: 360px) and (max-width: 785px) {
  .cards-container {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .buttons {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pagination-next {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 45%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .pagination-next span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .pagination-next span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .pagination-next:hover span {
    padding-right: 25px;
  }

  .pagination-next:hover span:after {
    opacity: 1;
    right: 0;
  }

  .pagination-back {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 45%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .pagination-back span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .pagination-back span:before {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .pagination-back:hover span {
    padding-right: 25px;
  }

  .pagination-back:hover span:before {
    opacity: 1;
    right: 0;
  }
}

@media (min-width: 786px) and (max-width: 885px) {
  
  .cards-container {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .buttons {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pagination-next {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 45%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .pagination-next span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .pagination-next span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .pagination-next:hover span {
    padding-right: 25px;
  }

  .pagination-next:hover span:after {
    opacity: 1;
    right: 0;
  }

  .pagination-back {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 45%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .pagination-back span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .pagination-back span:before {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .pagination-back:hover span {
    padding-right: 25px;
  }

  .pagination-back:hover span:before {
    opacity: 1;
    right: 0;
  }
}

@media (min-width: 886px) and (max-width: 985px) {
  .cards-container {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-left: 100px;
    margin-right: 100px;
  }

  .buttons {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pagination-next {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 45%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .pagination-next span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .pagination-next span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .pagination-next:hover span {
    padding-right: 25px;
  }

  .pagination-next:hover span:after {
    opacity: 1;
    right: 0;
  }

  .pagination-back {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 45%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .pagination-back span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .pagination-back span:before {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .pagination-back:hover span {
    padding-right: 25px;
  }

  .pagination-back:hover span:before {
    opacity: 1;
    right: 0;
  }
}

@media (min-width: 986px) and (max-width: 1185px) {
  .cards-container {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-left: 200px;
    margin-right: 200px;
  }

  .buttons {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pagination-next {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 45%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .pagination-next span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .pagination-next span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .pagination-next:hover span {
    padding-right: 25px;
  }

  .pagination-next:hover span:after {
    opacity: 1;
    right: 0;
  }

  .pagination-back {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 45%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .pagination-back span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .pagination-back span:before {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .pagination-back:hover span {
    padding-right: 25px;
  }

  .pagination-back:hover span:before {
    opacity: 1;
    right: 0;
  }
}

@media (min-width: 1186px) {
  .cards-container {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-left: 400px;
    margin-right: 400px;
    width: 60%;
    align-items: center;
  }

  .buttons {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pagination-next {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 45%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .pagination-next span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .pagination-next span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .pagination-next:hover span {
    padding-right: 25px;
  }

  .pagination-next:hover span:after {
    opacity: 1;
    right: 0;
  }

  .pagination-back {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 45%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .pagination-back span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .pagination-back span:before {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .pagination-back:hover span {
    padding-right: 25px;
  }

  .pagination-back:hover span:before {
    opacity: 1;
    right: 0;
  }
}