@media screen {
  .main-modal{
    display: flex;
    gap: 50px;
    flex-direction: row;
  }
  .main-tool-view {
    border-radius: 100%;
    width: 150px;
  }
  .tool-viewers {
  }
  .main-tools-view {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
  }
  .tools-view {
    display: flex;
    flex-direction: row;
    border-radius: 100%;
    width: 100px;
  }
}