input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 4px;
  outline: none;
}

input:focus {
  background-color: #fafafa;
}